<configuration>
	<system.webServer>
		<httpErrors existingResponse="PassThrough" />

		<handlers>
			<add name="iisnode" path="entry.js" verb="*" modules="iisnode" />
		</handlers>

		<rewrite>
			<rules>
				<rule name="LetsEncrypt" stopProcessing="true">
					<match url="\.well-known\/acme-challenge\/(.*)" />
					<action type="None" />
				</rule>
				<rule name="StaticContent">
					<action type="Rewrite" url="content/files{REQUEST_URI}" />
				</rule>
				<rule name="DynamicContent">
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
					</conditions>
					<action type="Rewrite" url="entry.js" />
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
